@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300&family=Varela+Round&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body{
    font-family: 'Roboto', sans-serif;;
}

::-webkit-scrollbar{
    display: none;
}

.movie-row-container::-webkit-scrollbar{
    display: none;
}

video::-webkit-media-controls{
    display: none;
}